{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% block head %}{% endblock head %}
</head>

<body class="d-flex flex-column min-vh-100">
    {% include "base/navbar.html" %}
    
    <main class="flex-fill container my-5">
        {% block content %}
        {% endblock content %}
    </main>
    
    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <p class="mb-0">&copy; 2024 | Todos os Direitos Reservados</p>
    </footer>
</body>

</html>